
<html>
  <head>
    <title>Todo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class="main-heading">Todo List App</h1>
    <div id="container">
      <div style="    display: flex;
      flex-flow: column wrap;
      height: fit-content;">
        
        <div id="filter-task-tab" class="tasks-list-tab">
          <a id="all-tasks">ALL TASKS <span id="all-tasks-counter">0</span></a>
          <a id="uncompleted-tasks">REMAINING <span id="uncompleted-tasks-counter">0</span></a>
          <a id="completed-tasks">FINISHED <span id="completed-tasks-counter">0</span></a>
        </div>

        <div style="       display: flex;
        width: -webkit-fill-available;
        margin: auto; ">
          <input placeholder="Add a task" class="add-task" id="add" data-helloWord="asdasdas"/>
          <div id="addtask-button-container"><button id='add-task-button'><img src='/static/plus.png' alt='add button'></img></button></div>
        </div>
        
      </div>
     
      
   
      <ul id="list">
        <!-- <li>
          <input type="checkbox" id="task1" data-id="12" class="custom-checkbox">
          <label for="task1">Buy groceries</label>
          <img src="bin.svg" class="delete" data-id="12" />
        </li> -->
      </ul>
    </div>
    <script type="text/javascript" src="/js/todo.js"></script>
  </body>
</html>